body{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color: whitesmoke;  
}

h2 {
    color: whitesmoke;
}

.projects{
    display:flex;
    flex-wrap: wrap;
}

.project{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; 
    border-radius: 25%;
}